/MiniAppProductos/demo-resultado/node_modules
/MiniAppProductos/demo-resultado/dist
*.log
Practica_7_taller_5_Facturacion/demo-starter/node_modules/typescript/lib/lib.es2023.array.d.ts
/Practica_7_taller_5_Facturacion/demo-starter/node_modules
